.about-content{
    top:280px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.container{
    height: 100%;
}

.about-image{
    width: 40%;
}

.about-text{
    margin-top: 100px;
    width: 40%;
}

.about-data-header{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
}

.about-data-text{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:992px){
    .about-content{
        justify-content: space-between;
        .about-image{
            position: relative;
            width: 35%;
            img{
                position: absolute;
                width: 100%;
                bottom: 20px;
            }
        }
        .about-text{
            .about-data-header{
                font-size: 2.3rem;
            }
            .about-data-text{
                font-size: 1.5rem;
            }
            width: 65%;
        }
    }
}
@media screen and (max-width:610px){
    .about-content{
        flex-direction: column;
        align-items: center;
        .about-image{
            top: 120px;
            width: 50%;
            img{
                width: 100%;
            }
        }
        .about-text{
            position: relative;
            top: 80px;
            width: 100%;
        }
    }
}
