@charset "UTF-8";
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style: none;
  list-style-type: none;
}

main {
  margin-top: 64px;
}

.section {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  color: #522027;
  font-size: 3rem;
  position: relative;
  top: 180px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 0.3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.5rem;
  background-color: #522027;
}

.backtotop {
  cursor: pointer;
  position: absolute;
  position: fixed;
  bottom: 400px;
  right: 30px;
  height: 80px;
  width: 40px;
  z-index: 1000000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.backtotop.active {
  bottom: 30px;
  visibility: visible;
  opacity: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #522027;
  -webkit-box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
          box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
  z-index: 1000;
  height: 64px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-item {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #eeeded;
}

.logo-item:hover {
  color: #726060;
}

.nav-img {
  width: auto;
  height: 50px;
}

.nav-links {
  margin-bottom: 0px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #d8d8d8;
}

.nav-item:hover {
  color: #726060;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #d8d8d8;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .nav-links {
    width: auto;
  }
}

@media (max-width: 768px) {
  /*
    if there is a scroll under the screen use:
    //body{overflow-x:hidden} */
  .nav-links {
    position: absolute;
    right: 0px;
    top: 64px;
    height: calc(100vh - 64px);
    width: 60%;
    background-color: #522027;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

.home-section {
  height: calc(100vh - 64px);
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

.home-data {
  bottom: 100px;
  position: relative;
  left: 100px;
}

.home-data .home-title, .home-data .typing {
  line-height: 1.5;
  font-size: 6rem;
}

.home-data .home-title .home-title-name, .home-data .typing .home-title-name {
  font-size: 6rem;
  color: #7C1424;
  font-weight: bold;
}

.typing {
  position: relative;
}

.typing::after {
  margin-left: 10px;
  position: absolute;
  content: "";
  top: 10px;
  width: 1px;
  height: 7rem;
  border: 2px solid #7C1424;
  -webkit-animation: blink 0.7s infinite ease;
          animation: blink 0.7s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#htb {
  outline: none;
}

.home-title-button {
  margin-top: 20px;
  width: 145px;
  height: 50px;
  border-radius: 8px;
  background-color: #7C1424;
  color: #eeeded;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}

.home-title-button:hover {
  border: 2px solid #7C1424;
  color: #7C1424;
  background-color: white;
  font-weight: 700;
}

.home-image {
  position: relative;
  left: 30px;
  bottom: 100px;
  text-align: center;
}

.home-social {
  bottom: 100px;
  position: relative;
  left: 8%;
  width: 25%;
}

.home-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-social-item i {
  color: #7C1424;
  font-size: 2rem;
}

.fa-linkedin-in:hover {
  color: #0A66C2;
}

.fa-github:hover {
  color: #06090F;
}

.fa-instagram:hover {
  color: #ED4956;
}

.fa-facebook-f:hover {
  color: #1298F6;
}

.fa-twitter:hover {
  color: #00ACED;
}

@media (max-width: 1200px) {
  .home-section {
    display: inline-block;
  }
  .home-image {
    position: relative;
    bottom: 0;
  }
  .home-image img {
    position: absolute;
    right: 10%;
  }
  .home-data {
    top: 10%;
  }
  .home-social {
    left: 10%;
    width: 40%;
  }
}

.about-content {
  top: 280px;
  position: relative;
}

.container {
  height: 100%;
}

.about-image {
  width: 40%;
}

.about-text {
  margin-top: 100px;
  width: 40%;
}

.about-data-header {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
}

.about-data-text {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 992px) {
  .about-content {
    width: 100%;
    position: relative;
  }
  .about-image {
    position: absolute;
    width: 40%;
    left: 0px;
    top: 60px;
  }
  .about-image img {
    width: 320px;
  }
  .about-text {
    position: absolute;
    width: 55%;
    right: 0px;
  }
}

@media (max-width: 768px) {
  .about-image {
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .about-text {
    top: 0;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
  }
  .about-content {
    top: 200px;
  }
}

.skills-content {
  position: relative;
  top: 230px;
}

.skills-exception-header {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
}

.skills-exception {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.skill-card {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a15864;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 7px;
  padding: 0px 20px;
  -webkit-box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
          box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
  margin-top: 30px;
}

.skill-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-name i {
  color: #eeeded;
}

.skill-skillname {
  margin-left: 7px;
  font-size: 1.7rem;
  letter-spacing: .5px;
  font-weight: bold;
  color: #eeeded;
}

.skill-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 5px;
  background-color: #3a161b;
  border-radius: 7px;
}

.skill-percentage {
  font-size: 1.7rem;
  letter-spacing: .5px;
  font-weight: bold;
  color: #eeeded;
}

.skills-image {
  width: 30%;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.html-bar {
  width: 85%;
}

.css-bar {
  width: 75%;
}

.js-bar {
  width: 65%;
}

.uı-ux-bar {
  width: 65%;
}

.figma-bar {
  width: 70%;
}

@media (max-width: 992px) {
  .skills-data {
    position: relative;
    left: 0px;
    width: 65%;
  }
  .skills-image {
    width: 20%;
  }
  .skills-image img {
    position: relative;
    top: 50px;
    right: 30px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .skills-data {
    top: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .section-title {
    top: 100px;
  }
  .skills-content {
    top: 100px;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-links {
    text-align: center;
  }
  .skill-card {
    width: 100%;
  }
  .skills-image {
    text-align: center;
    width: 100%;
    height: 400px;
    top: 0px;
  }
  .skills-image img {
    top: 0px;
    height: 400px;
  }
}

.services-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 352px;
  position: relative;
  top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #522027;
}

.card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 75%;
  margin: auto 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
          box-shadow: 2px 2px 12px rgba(219, 174, 174, 0.5);
  background-color: white;
  padding-top: 20px;
}

.card i {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #522027;
}

.card:hover {
  position: relative;
  bottom: 10px;
}

.card-name {
  text-align: center;
  color: #522027;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-explanation {
  font-family: 'Poppins', sans-serif;
  color: #522027;
  font-size: 1.4rem;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: center;
}

@media (max-width: 1240px) {
  .card {
    width: 50%;
    margin: 20px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: 100%;
    top: 172px;
    margin: auto;
  }
}

.contact-section {
  width: 500px;
}

.contact-content {
  position: relative;
  top: 150px;
  width: 800px;
  margin: 10px auto;
}

.form-group {
  margin-top: 20px;
}

.form-group label {
  color: #522027;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.form-group .form-control {
  border-color: #522027;
  font-size: 2rem;
  outline: #522027;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .btn {
  margin: 20px auto;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #522027;
  color: #eeeded;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

form .btn:hover {
  background: -webkit-gradient(linear, right top, left top, from(#522027), color-stop(#eeeded), to(#522027));
  background: linear-gradient(0.75turn, #522027, #eeeded, #522027);
  color: #522027;
}

.alert {
  font-size: 1.7rem;
  line-height: 1;
  position: relative;
  top: 15vh;
  width: 50%;
  text-align: center;
  height: 5%;
  margin: 0px auto;
}

@media (max-width: 1024px) {
  .contact-content {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .contact-content {
    width: 400px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #522027;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

.footer .footer-name {
  color: #eeeded;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
}

.footer .footer-social-links {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-social-links .fab {
  color: #eeeded;
}

.footer .footer-cop {
  color: #eeeded;
  font-size: 1.4rem;
}

.footer-social-link .fa-linkedin-in:hover {
  color: #0A66C2;
}

.footer-social-link .fa-github:hover {
  color: #06090F;
}

.footer-social-link .fa-instagram:hover {
  color: #ED4956;
}

.footer-social-link .fa-facebook-f:hover {
  color: #1298F6;
}

.footer-social-link .fa-twitter:hover {
  color: #00ACED;
}
/*# sourceMappingURL=style.css.map */